*{
  
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  
  /* this is what centers your element in the fixed wrapper*/
  

 
  
  /* just for styling to see the limits */
  
}

.nav {
  width: 100%;
  height: 80px;
  

  /* Just for styling */
  background-color: rgba(0,0,0,0.9);
  display: flex;
  align-content: center;  
  align-items:center;
  padding-left:20px;
 
  
}

.nav a{
  color:white;
  text-decoration:none;
  font-size: 20px;
  
}
.nav img{
  position:absolute;
  right:0;
  height:50px;
  
  margin-right:25px;
  cursor:pointer;
}
.nav a+a{
  margin-left:25px
}

.corpo{
  height:1400px;
  width:100%;

  background-image: url("https://wallpaperaccess.com/full/187161.jpg") ;
  
  background-image: no-repeat;
  background-image: center;
  background-size:cover;
   
   
    
   
}
.chat{
  position:fixed;
  bottom:20px;
  right:20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/Godot_icon.svg") ;
  background-size: cover;
   background-position: center; /* Center the image */
  background-repeat: no-repeat; 
  
  border-radius:50%;
  height:60px;
  width:60px;
  cursor:pointer; 
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  
 
  
  background-color: white;
  
  
}

.atendimento{
  position: fixed;
  bottom: 100px;
  right: 20px;
  height: 300px;
  width: 200px;
  visibility: hidden;
  background-color: antiquewhite;
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 0.5s;
 
 
}

.memo{
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 5px;
  padding: 3px;
  color: black;
  margin-bottom: 10px;
  resize: none;

}
.atend-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.msg{
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border-color: brown;
}
.btn-send{
  width: 100%;
  height: 30px;
  background-color: brown;
  border-radius: 5px;
  margin-bottom: 10px;
  color: antiquewhite;
  font-weight: bold;
  border: none;
}

.btn-send:hover{
  cursor: pointer;
}


